/* Global */



body {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Navigation */

header {
    background-image: url("../images/Background-image.png");
    max-width: 1424px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}


nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px
}

.brand {
    color: #fed136;   
}
.brand i {
    text-align: left;
    font-size: 26px;
    padding: 0 5px;
    margin: 0 25px; 
}

.navbar ul {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    color: white;
    justify-content: space-between;

}

.navbar ul li {
    padding: 0 5px;
    margin: 0 5px;
    text-align: right;
    font-size: 14px;
    justify-content: flex-end;
}

/* Splash */

.splash {
    color: white;
    text-align; center; 
    margin-bottom: 150px;
    justify-content: center;
}
.splash h1 {
        font-size: 75px;
        border: 2px solid 5px;
        text-align: center;
    }
.splash h2 {
        font-size: 40px;
        border: 2px solid 5px;
    }
.splash button {
        font-size: 40px;
    }
.splash-inside {
    translate: transofm (-50%,50%);
    text-align: center;
    padding-bottom: 25px;
}

.splash button {
    color: white;
    background-color:#fed136;
    border-radius: 5px;
    border: 2px solid 5px;
    padding: 15px 25px;
    font-size: 16px;
    border: none;   
}

.splash button:hover {
    cursor: pointer;
    border: black;
}

/* Portfolio */

.portfolio {
    max-width: 1424px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}