/* Global */

body {
    box-sizing: border-box;

}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Navigation */

nav {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
}

.left-navbar {
    color: goldenrod;
    font-size: 32px;

}

.right-navbar {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    display: block;

}

/* Splash */

.splash {
    color: white;
    background-color: aquamarine;
}
.splash h1 {
        font-size: 72px;
    }
.splash h2 {
        font-size: 56px;
    }
.splash button {
        font-size: 50px;
    }