/* Global */



body {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}


/* Navigation */

header {
    background-image: url("../images/Background-image.png");
    max-width: 1424px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.brand {
    color: #fed136;
    padding: 10px 0 25px 0;  
    font-family: 'Dancing Script', cursive;
}
.brand i {
    text-align: left;
    font-size: 26px;
    padding: 0 0 0 50px;
}

.topnav {
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    color: white;
    text-align: right;
    justify-content: space-between;
    font-weight: 700;
}

.navbar ul li {
    padding: 0 8px;
    margin: 0 5px;
    font-size: 14px;
    justify-content: space-between;
}

.navbar ul li:hover {
    cursor: pointer;
}

/* Splash */

.splash {
    color: white;
    text-align; center; 
    margin-bottom: 30px;
    justify-content: center;
}
.splash h1 {
        font-size: 75px;
        border: 2px solid 5px;
        text-align: center;
        
    }
.splash h2 {
        font-size: 40px;
        border: 2px solid 5px;
        margin-top: 150px;
    }
.splash button {
        font-size: 40px;
        margin-bottom: 150px;
    }
.splash-inside {
    translate: transofm (-50%,50%);
    text-align: center;
    padding-bottom: 25px;
}

.splash button {
    color: white;
    background-color:#fed136;
    border-radius: 5px;
    border: 2px solid 5px;
    padding: 20px 35px;
    font-size: 16px;
    border: none;
    font-weight: 700;   
}

.splash button:hover {
    cursor: pointer;
    border: black;
}


/* Services */

.services, footer {
    max-width: 1424px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    margin: 0 auto 50px ;
}

.services h2, .portfolio h2 {
    text-align: center;
    margin: auto;
    font-size: 40px;
    margin-top: 30px;
}

.services p {
    color: gray;;
    margin-bottom: 35px;
    text-align: center;
}

.service-image img {
    border: 3px solid #fed136;
    border-radius: 50%;
    padding: 10px;
}



/* Portfolio */

.portfolio {
    max-width: 1424px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    text-align: center;
    margin: 80px auto;
}

.portfolio-image  {
    background-color: white;
}

.portfolio-image img {
    width: 100%;
}

.portfolio-wrapper {
    margin: 30px 0;
}

/* Footer */

footer {
    display: block;
    background-color: white;
    text-align: center;

}

.footer-list{
    list-style-type: none;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: left;    
}

/* Font Awesome */ 

.footer-list i {
    color: black;
    padding-left: 10px;
    margin-left: auto;
    justify-content: space-between;
}

.footer-list li {
    padding-left: 15px;
}

.footer-list p {
    margin-right: 30px;
    padding-right: 30px;
}

/* Media Quaries */

@media (max-width: 576px) {
    .navbar ul li {
    font-size: 12px;
    }